a{
    margin-left: 80px;
    cursor: pointer;
    font-size: 15px;
}
button{
    margin-right: 70px;
}
#shift-c{
    font-size: 10px;
    width: 100px;
}
.btn-outline-danger:hover {
    color: #000000; 
    background-color: #dc3545; 
    border-color: #dc3545;
  }