nav{
    width: 100%;
    height: 35px;
    background-color: #2B3035;
    display: flex;
    justify-content: space-between;
  }
  .nav-link{
    cursor: pointer;
    margin-top: 10px;
  }
  .nav-btns{
    height: 100%;
    width: 120px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2b303500;
    border: none;
    margin-left: 40px;
    cursor: pointer;
  }
  #out{
    height: 25px;
    width: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #DC3545;
    margin-right: 150px;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
  }